.rojo {
	background: red;
	color: white;
}

.naranja {
  	background: orange;
  	color: white;
}

.amarillo {
  	background: yellow;
  	color: white;
}

.verde {
  	background: green;
  	color: white;
}

.verdeOscuro {
  	background: darkgreen;
  	color: white;
}
  